@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Media query for screens 769px and below */
@media screen and (min-width: 576px) and (max-width: 1024px) {
  .navbar-burger,
  .navbar-dropdown {
    display: none;
  }
  .navbar-menu {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    justify-content: flex-end;
    flex-grow: 1;
    flex-shrink: 0;
  }
  .navbar,
  .navbar-end,
  .navbar-menu,
  .navbar-start {
    display: flex;
    align-items: stretch;
  }
  .navbar-item {
    display: flex;
    align-items: center;
  }
}

.navbar {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.2vh;
  font-weight: 600;
}

html {
  scroll-behavior: smooth;
}

.hero-body {
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.hero-title {
  font-family: "Poppins", sans-serif;
  font-size: 8vh;
  font-weight: 800;
}

.page-section {
  height: 100vh;
  padding-top: 52px;
}

.section-header {
  border-bottom: 1vh hsl(348, 100%, 61%) solid;
  padding-bottom: 1.4vh;
  width: max-content;
  margin: auto;
}

.section-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-content > section {
  flex: 1;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .section-content {
    flex-direction: column;
  }
}

.skills-container > .tag {
  margin: 0.2vh !important;
}
